{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<div class="row mt-3">
        <div class="col-sm-2">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title"><u>Dashboard</u></h5>
                You can only change your name.
            </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method='POST' action='/dashboard'>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.name)}}
                    {{ wtf.form_field(form.email)}}
                    <button type="Submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}